@import "./animation_custom.css";
@import "./fonts.css";

#page_title{
    font-family: montserrat_bold;
    color: rgba(0,0,0,0.8);
}

#settings_img{
    border-radius: 18px;
}

#settings_img_container{
    background-color: transparent;
    border: none;
}

#img_btn{
    border-radius: 50%;
    margin-top: -50px;
    width: 80px;
    height: 80px;
    background-color:rgba(40, 167, 69, 0.9);
    border: none;
    transition: 1s;
}

#img_btn:hover{
    background-color: rgba(40, 167, 69, 1);
    transition: 1s;
}

#img_btn>i{
    color: ghostwhite;
    font-size: 2em;
}

#settings_info>form>h3{
    font-family: montserrat_bold;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}

#settings_info{
    border: none;
    background-color: transparent;
}
#settings_info_2{
    border: none;
    background-color: transparent;
}

.form-group>h6{
    color: rgba(40, 167, 69, 1);
    font-family: montserrat_bold;
    font-weight: 600;
}

.form-control{
    font-family: montserrat;
}

.form-control:focus{
    outline: none;
}

#design_prop_1{
    height: 5px;
    border-radius: 16px;
    background: linear-gradient(to right, #00FF00, #01A9DB);
}

#design_prop_2{
    height: 5px;
    border-radius: 16px;
    background: linear-gradient(to right, #00FF00, #01A9DB);
}

#design_prop_2.spread{
    animation: spread 3s;
    animation-iteration-count: 1;
}

/* */

ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:hover {
    background: #ddd;
  }
    /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

